@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>

        @if (AuthenticationService.User != null)
        {
            <a href="/logout" class="ml-md-5">Logout</a>
        }
        else
        {
            <a href="/login" class="ml-md-5">Login</a>
        }
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
